.expanded{
    width: 60% !important;
    height: auto !important;
}
.expanded ul {
    list-style-type: none;
    /* padding-top: 0.5em; */
    /* padding-bottom: 0.75em; */
}
p{
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
/* .expanded li:last-of-type {
    margin-bottom: 1em;
} */