* {
    font: larger "Courier new", monospace;
}

* {
    color: #33ff00;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
:focus {
    border-bottom: 1.5px solid #33ff00;
    border-top: 1.5px solid #33ff00;
    border-left: 0;
    border-right: 0;
    background-color: black;
    outline: none;
    animation: blink 1s infinite step-end ;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0;
    animation: fade-in 2s ;
}

.banner {
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    flex-direction: column;
}
.banner img{
    background-color: #33ff00;
    height: 100%;
    width: auto;
    border-radius: 2px;
}
.banner p {
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 100%;
    width: 100%;
    /* border: 1px solid #33ff00; */
}
#content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid #33ff00; */
    /* border-left: 0;
    border-right: 0; */
    align-self: center;
}

.help{
    /* background-color: gray; */
    position: absolute;
    left: 70vw;
    top: 32.5vh; 
    font-size: medium;
    width: 20vw;
    opacity: 0;
}

footer {
    font-size: small;
    margin-bottom: 0.7em;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes show {
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

